*{
    margin: 0px;
    padding: 0px;
}
#navegation{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
#cont_nav{
    display: flex;
    right: 0px;
}
#show-case0ne{
    display: flex;
    overflow: hidden;
}
.categories{
    text-decoration: none;
}
.image img{
    position: relative;
    width: 100%;
}

.text0{
    position: absolute;
    top: 450px;
    text-align: center;
    max-width: 100%;
    padding: 50px;
}
.btn{
    margin-top: 10px;
    text-decoration: none;
}
